div{
    background-color: yellow;
    width: 400px;
    /*max-width: 70%;*/
    height: 200px;
    /*overflow: auto;*/
    /*border-width: 7px 10px  ; */
    /*border-top-width: 7px;
    border-right-width: 10px;
    border-bottom-width: 15px;
    border-left-width: 20px; */
    /* border-style: solid;
    border-color: black;*/
    border: 2px solid black;
    padding: 10px 20px;
    margin: 15px auto;
    border-bottom-left-radius: 10px;

}

#segunda{
    box-sizing: border-box;
    border-radius: 10px;
}